
.AppHome {
  background-color: black;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  background-color: black;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);

  overflow: hidden;
}

.background-image {
  position: absolute;
  z-index: 1;
  object-fit: cover;
}
.background-video {
  position: absolute;
  z-index: 1;
  object-fit: cover;
}
.enter-button {
  background-color: #66cc66;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 25px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  top: 50%;
  margin-top: 10px;
  z-index: 3;
}

.enter-button:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.AppHome > h1 {
  z-index: 3;
}
.WelcomeText {
  color: gainsboro;
  margin-top: 220px;
  margin-bottom: 5px;
  text-shadow:
  0 0 7px #fff,
    0 0 151px #0fa;
}
.WorldOfText {
  color: gainsboro;
  text-shadow:
  0 0 7px #fff,
    0 0 151px #0fa;
    margin-top: 7px;
    margin-bottom: 7px;
}
.ArmaanText {
  color: white;
  animation: pulsate 2.5s infinite alternate;  
  margin-top: 11px;
}


@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  }
}
