@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

.mobile-content {
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
}

.mobile-navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-bottom: 1px solid #ccc; 

    position: fixed;
    top: 0;
    left: 0;
  right: 0;

  z-index: 100;
}

.nav-button {
    padding: 0 10px 0 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;

    z-index: 101;
    cursor: pointer;
}

.nav-name {
    color: white;
    font-size: 20px;
    font-weight: 700;
    opacity: 0;
    will-change: opacity;

    cursor: pointer;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
}
.welcome-text-top {
    color: white;
    font-size: 25px;
    padding: 100px 20px 0px 20px;
    font-weight: 700;

    font-family: 'Roboto', sans-serif;
}

.welcome-text {
    color: white;
    font-size: 17px;
    padding: 0px 50px 0px 50px;

    font-family: 'Roboto', sans-serif;
}

.welcome-text-name {
    color: yellow;
}

.filter-button {
    width: 70px;
    height: 25px;
    border: 1px solid white;

    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, transform 0.3s;

    margin: 6px 6px 0px 6px;

    font-family: 'Roboto', sans-serif;
  }
  .filter-button-selected {
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: 10px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, transform 0.3s;

    margin: 6px 6px 0px 6px;

    font-family: 'Roboto', sans-serif;
  }
  
  .filter-button:hover {
    background-color: #707070;
    transform: scale(1.05);
  }

  .filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 30px 0px 30px;

    margin-bottom: -40px;
  }
.projects-title {
    color: white;
}
  #root {
    overflow: scroll;
    background-color: black !important;
  }
  body {
    background-color: black;
  }

  .project-container {
    position: relative;
    padding: 10px;
    margin-top: 70px;

    opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
  }

  .project-container.visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.792);
    color: white;
    text-align: center;
  }
  .project-image {
    width: 100%;
  }
  .project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

    font-family: 'Roboto', sans-serif;
  }
  
  .project-content {
    font-size: 16px;
    padding: 15px;

    font-family: 'Roboto', sans-serif;
  }

  .project-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 20px;
    bottom: 0;
    margin-top: 20px;
  }

  .project-tech {
    padding: 0;
    margin: 0;
    color: grey;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

    font-family: 'Roboto', sans-serif;
    
  }
  .project-link {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
  }


  .email {
    color: #446cff;
    font-family: "Roboto";
    font-weight: 600;
    padding-bottom: 200px;
  }