.window {
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: #f9f9f9;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.browser-background {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.cross-image {
    position: absolute;
    height: 20px;
    width: 20px;
    top:0;
    left: 0;
}

.link-text {
    color:black;
    position: absolute;
    left: 35px;
    top: 2vh;
    font-weight: 400;
}

.main-content-container {
    position: absolute;
    width: 100%;
    height: 87%;
    top: 11%;
    left: 0;
    z-index: 7;
    display: flex;
    justify-content:flex-start;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.card-container {
    width: 120px;
    height: 170px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 19px;
    justify-content: space-between;
}

.card-image {
    position: absolute;
    width: 120px;
    height: 145px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.card-text {
    position: relative;
    margin: 0;
    top: 154px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    
}

.card-info-container {
    position:absolute;
    width: 120px;
    height: 145px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    float: left;
}

.info-icon{
    width: 25px;
    height: 25;
    margin-left: auto;
    margin-right: 3px;
}

.link-icon{
    width: 25px;
    height: 25;
    margin-left: auto;
}

.info-page {
    background-color: white;
    position: absolute;
    width: 200%;
    height: fit-content;
    z-index: 10;
    padding: 5px;
    border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}

.info-text {
    color: black;
}
